.root{
    color: #fefefe;
    color: #000000;
    color: #6500ff;
    color: #ffffff;
}

*{
    margin: 0 auto; 
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.text{
    color: gray;
}

.badge{
    background-color: rgb(219, 214, 214);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.btn{
    padding: 1rem 2rem;
    display:block;
    width: 100%;
    border-radius: 1rem;
}

.btn-lg{
    padding: 1.5rem 2rem;
    font-size: 1.25rem;
}

.list-unstyled{
    list-style: none;
    margin-top: 2rem;
    line-height: 2.5rem;
    font-size: 1.25rem;
}

.btn_primary{
    background-color: #6500ff;
    margin-top: 2rem;
    color: #ffffff;
}

.body{
    max-width: 900px;
    margin: 0 auto;
}

#prices_togglers{
    text-align: end;
    
    button{
        border-style: none;
        background-color: transparent;
        font-size: 1.15rem;
        color: grey;
    
        i{
            font-size: 1.5rem;
        }
    }
}
.bi-toggle-on{
    color: black;
}

.plans{
    padding: 1rem;
    p{
        color:gray
    }
    h1{
        font-size: 2.5rem;
    }
}

.card_deck{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card{
    width:(100 / 3 - (15 * 2) / 3);
    flex-grow: 1;
    flex-shrink: 0;
    background-color: #fefefe;
    box-shadow: 0 0 10px gray;
    border-radius: 1rem;
    padding: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;

    h2{
       font-size: 1.75rem; 
    }

    .plan_price{
       text-align: center; 

       .currency{
        font-size: 1.5rem;
        font-weight: bold;
       }

       .price{
        font-size: 4rem;
        font-weight: bolder;
       }

    }

    .discount{
        margin-top: 2rem 0;
    }

    .plan_features{
        margin-top: 2rem;
        line-height: 2.5rem;
        font-size: 1.25rem;
    }

}

.card:nth-child(2){
    background-color: #6500ff;
    color: #ffffff;
    
    .badge{
        color: black;
    }
    
    .text{
        color: #ffffff;
    }
    
    .btn_primary{
        background-color: #ffffff;
        color: #6500ff;
    }
}