.root{
    color: #fefefe;
    color: #000000;
    color: #6500ff;
    color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.contenitore{
    max-height: auto;
    max-width: 512px;
    margin: 0 auto;
    position:relative
}

.contenitore_header{
    
}
    
.plan_card{
    
    .plan_basic
    {
    }
}