.root{
    color: #fefefe;
    color: #000000;
    color: #6500ff;
    color: #ffffff;
}

*{
    margin: 0 auto; 
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.contenitore{
    max-height: auto;
    max-width: 512px;
    margin: 0 auto;
    font-family:sans-serif;
}

.contenitore_header{
    padding-left: 3rem;
    position: relative;

}

.title{
    font-size:xx-large;
}

.text_1{
    font-size:small;
    color:rgba(128, 128, 128, 0.884)
}

.switch{
   font-size: small;
   color: grey;
   padding-left: 20rem;
   padding-top: 1.5rem;
   padding-bottom: 1rem;
}

/*.switch input{
    opacity: ;
    width: ;
    height: ;
}*/


.plan_basic, .plan_professional, .plan_ultimate{
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 1rem ;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: #fefefe;
    border-radius: 10px;
    max-width: 412px;
    box-shadow: 2.5px 2.5px 2.5px 2.5px rgba(201, 195, 195, 0.452);

}

.text_{
   margin:2rem;
   margin-top:1rem; 
}

.price{
    font-size:xxx-large;
    margin: 3rem;
    padding-left: 1rem;
}

.sconto{
    padding-left: 7rem;
    font-size:small;
}

.sfocato{
    color: grey;
    font-size: small;
}

.sfocato_2{
    color: white;
    font-size: small;
}

.plan_professional{
    background-color: #6500ff;
    color: #fefefe;
}

.choose_1{
    background-color:#6500ff;
    border:none;
    border-radius: 10px;
    color: #ffffff;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.choose_2{
    background-color:#fefefe;
    border:none;
    border-radius: 10px;
    font-weight: 700;
    color:#6500ff;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.beneficts{
    list-style: none;
    padding-top: 1rem;
   
    li{
        padding:0.5rem;
        padding-right: 7rem;
        margin:1rem;
    }
    
    .bi{
        padding: 0.5rem;
        font-size: x-large;
        
    }
}
